@font-face {
    font-family: "Gilroy";
    src: url('Gilroy/Gilroy-Regular.eot');
    src: url('Gilroy/Gilroy-Regular.woff') format('woff'), url('Gilroy/Gilroy-Regular.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nekst";
    src: url('Nekst/Nekst-Black.eot');
    src: url('Nekst/Nekst-Black.woff') format('woff'), url('Nekst/Nekst-Black.ttf') format('truetype') ;
    font-weight: 900;
    font-style: normal;
}